*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
} 

header{
    padding: 16px;
    position: sticky;
    top: 0;
    border: 1px solid white;
    background-color: cornsilk;
    border-bottom: 4px solid;
}
nav a{
    text-decoration: none;

}

header nav >a{
    margin-right: 16px;
} 

header nav >a:last-child{
    margin-right: 16px;
    text-decoration: none;
    margin-right: revert;
}

nav >a:hover{
    text-decoration: underline;
} 

nav a:visited{
    color: royalblue;
}


/* header nav >a:visited{
    color: royalblue;
} */

footer{
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
}

.container{
    padding: 16px;
}
/* immediate children of container */
/* if we write .container >div > h2{  then we target just the direct descendants of the parent div and not the nested divs*/
.container >section > h2{ 
    text-align: center;
} 

.intro{ 
    margin: -16px;
    padding: 16px;
    background-color: rgb(53, 51, 51);
    color: white;
    text-align: center;
}
#profile{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.social img{
    height: 20px;
    width: 20px;
}

.social a{
    text-decoration: none;
    margin: auto 16px;
}
table, tr, td,th {
    border: 1px solid;
    border-collapse: collapse;
}
th{
    padding: 8px;
}
td{
    padding: 8px 0px 8px 100px;
}
p{
    font-size: 1.5rem;
}
li{
    font-size: 1.5rem;
}
table{
    width: 100%;
} 
.dynamic-text-color{
    color: royalblue;
}

form#contact{
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label{
    display: block;
    font-weight: 600;
}

#contact input:focus{
    outline: 2px solid green;
}

#contact input, #contact textarea, #contact button{
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}
#contact-me{
    margin-top: 16px;
}

.mobile-nav{
    display: none;
}
@media (width < 500px){
    .default-nav{
        display: none;
    } 
    .mobile-nav,section.menu{
        display: revert;
        
    }

    #menu-button{
        display: block;
        background: transparent;
        border-radius: 8px;
        margin-left: auto;
    }
    #table1{
        width: 100%;
    } 

    th{
        padding: 6px;
    }
    td{
        padding: 5px 0px 8px 25px;
    }

    section.menu{
        display: revert;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background: hsl(0, 0%, 100%);
        transition: height .8s ease-in-out;
        }
    section.menu ul{
        list-style: none;
    }
    section.menu ul > li{
        margin-bottom: 16px;
        font-size: 1.5rem;
    }
    section.menu nav{
        margin-top: 48px;
    }
    #close-menu{
        position: absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        font-size: x-large;
        border: none;
    }
}

@media (width<=450px){
    #profile{
        width: 100%;
    }



}